#root {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #6488EA;
  width: 94%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
}

.header img {
  height: 70%;
}

.app-container{
  width:100%;
  height:90%;
  display: flex;
  flex-direction: row;
}

.message-container{
  width:150%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
}

.message-input {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.message-input textarea{
  flex-grow: 1;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
  resize: none;
  overflow: hidden;
  outline: none;
  padding: 15px;
  color: #000;
  font-family: 'Inter';
}

.messages{
  display: flex;
  height: 80%;
  width: 100%;
  overflow: auto;
  flex-direction: column;
}

.messages::-webkit-scrollbar {
  width: 8px; /* or your preferred width */
}

.messages::-webkit-scrollbar-track {
  background: transparent; /* hide the track background */
}

.messages::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6); /* scrollbar thumb color */
  border-radius: 8px;
}

.message{
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  margin-top: 50px;
  max-width: 500px;
  align-self: flex-start;
  text-align: left;
  border: #898989;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.messageBody{
  text-align: left;
}

.messageBody p{
  margin-top: 0;
  margin-bottom: 0;
}

.user{
  align-self: flex-end;
  text-align: right;
}

.footer{
  height: 95%;
  width: 75%;
  margin: 1.5%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.sendbtn{
  height: 8%;
  width: 90%;
  margin: 5%;
  background-color: #6488EA;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendbtn h2{
  color: #ffffff;
}

.uploadbtn {
  height: 30%;
  width: 90%;
  margin: 5%;
  background-color: #808080;
  border-radius: 20px;
}

.upload-container {
  max-height: 30%;
  min-height: 15%;
  width: 90%;
  margin: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-style: dashed;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
}

.smallbtn {
  border-radius: 50%;
  height: 50px;
  aspect-ratio: 1/1;
  align-self: center;
  background-color: #D9D9D9;
  margin-top: auto;
  margin-bottom: auto;
  border-style: dashed;
  border-width: 1px;
  border-color: #898989;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  top: 100000000%
}

.popup-content {
  width: 70%;
  height: 70%;
  overflow: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border-style: dashed;
  border-width: 1px;
  border-color: #898989;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  clip-path: inset(0 round 10px);
}

.mode-select {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: left;
}

.mode-option {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
}

.mode-outline {
  align-self: center;
  height: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-style: solid;
  border-color: #6488EA;
  border-width: 4px;
  background-color: #ffffff;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-fill {
  align-self: center;
  height: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: scale(0);
  background-color: #6488EA;
  transition: transform 0.3s ease-in-out;
  margin: auto;
}

.active  {
  transform: scale(1); /* Expand when active */
}

.popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-header h3{
  margin-left: 2%;
}

.popup-header .smallbtn{
  margin-right: 2%;
}

.files-container {
  display: flex;
  flex-wrap: wrap;

}

.file-container{
  display: flex;
  width: 25.13%;
  margin: 2%;
  padding: 2%;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  border-radius: 30px;
  border-style: dashed;
  border-width: 1px;
  border-color: #898989;
}

.file-container p{
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
  overflow-x: auto;
  scrollbar-width: none;
  touch-action: none;
}

.file-buttons {
  display: flex;
  justify-content: space-evenly;
}

.inspect-button, .delete-button{
  height: 50px;
  width: 50px;
  margin: 20px;
  border-radius: 50%;
  border-style: dashed;
  border-width: 1px;
  border-color: #898989;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallbtn input {
  width: 0;
  height: 0;
  opacity: 0;
}