#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
}

.message-container{
  width:150%;
  height:100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff
}

.message-input {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.message-container input{
  flex-grow: 1;
}

.messages{
  display: flex;
  height: 90%;
  width: 100%;
  overflow: auto;
  flex-direction: column;
}

.message{
  max-width: 500px;
  align-self: flex-end;
  text-align: right;
}

.messageBody{
  text-align: left;
}

.user{
  align-self: flex-start;
  text-align: left;
}

.footer{
  height: 95%;
  width: 95%;
  margin: 1.5%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}



.footer .sendbtn{
  height: 10%;
  width: 90%;
  margin: 5%;
  background-color: rgb(128, 128, 128);
  border-radius: 20px;
}

.footer .uploadbtn{
  height: 30%;
  width: 90%;
  margin: 5%;
  background-color: rgb(128, 128, 128);
  border-radius: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  top: 100000000%
}

.popup-content {
  max-height: 30%;
  overflow:auto;
  background: #ffffff; /* Keep the content fully visible */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  clip-path: inset(0 round 10px);
}